.DS_Store
.gradle/7.4/executionHistory/
.gradle/7.4/fileHashes/
.gradle/buildOutputCleanup/
.gradle/file-system.probe
.gradle/7.4/checksums/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
